html {
  color: white;
  font-family: "Roboto", sans-serif;
}

section {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}
section:nth-child(1) {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 600;
}

.add-quote {
  justify-self: end;
  margin-right: -1rem;
  grid-row: 1/1;
}
.add-quote:hover {
  cursor: pointer;
  color: rgb(220, 220, 220);
}

.random-quote {
  justify-self: start;
  margin-left: -1rem;
  grid-row: 1/1;
}
.random-quote:hover {
  cursor: pointer;
  color: rgb(220, 220, 220);
}

.flex-container, footer {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.grid-container {
  display: grid;
  place-content: center;
  grid-row: repeat(3, 1fr);
  gap: 0.5rem;
  height: 91vh;
}
.grid-container section {
  border-radius: 1px;
  width: auto;
}

footer {
  align-content: flex-end;
}

.setting:hover, .todo-list-container .delete-container:hover, .todo-list-container .check-box-container:hover, .cancel-button:hover, .todo:hover {
  cursor: pointer;
  color: rgb(220, 220, 220);
}

.quote-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  justify-items: center;
  margin-top: -1rem;
}

.quote {
  border-radius: 1px;
  background-color: rgba(134, 134, 134, 0.3);
  grid-column: 1/span 2;
}

.hidden {
  display: none !important;
}

.add-quote-input-container {
  grid-column: 2/3;
  grid-row: 1/1;
  margin-top: -0.2rem;
  margin-right: 0.2rem;
  justify-self: end;
  align-items: center;
  width: 20rem;
}
.add-quote-input-container input {
  padding-right: 5px;
  font-size: 1.1rem;
  font-weight: 400;
  width: 100%;
  height: 1.5rem;
  text-align: end;
  letter-spacing: normal;
  border: 1px solid white;
  border-radius: 2px;
  background: rgba(134, 134, 134, 0.3);
}

input {
  height: 3rem;
  color: white;
  background: none;
  border: none;
  border-bottom: 3px solid white;
  border-radius: 2px;
  text-align: center;
  outline: none;
  background: none;
}

input:focus {
  background: rgba(134, 134, 134, 0.3);
}

.input-name-container, .input-focus-container {
  display: grid;
  place-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.name, input {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  text-align: center;
}

.focus {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.todo {
  font-weight: 700;
}

.todo-background {
  display: grid;
  position: absolute;
  top: 54%;
  left: 83%;
  width: 15rem;
  height: 20rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  justify-items: center;
}

.todo-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 2rem;
}

.todo-input {
  margin-left: 1.5rem;
}
.todo-input input {
  padding-left: 5px;
  font-size: 1rem;
  font-weight: 400;
  width: 12rem;
  height: 1.5rem;
  text-align: start;
  letter-spacing: normal;
  border: 1px solid white;
  border-radius: 2px;
  background: rgba(134, 134, 134, 0.3);
}

.cancel-button {
  justify-self: end;
  margin-top: 0.5rem;
  margin-right: 0.9rem;
}

.todo-title {
  justify-self: center;
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}

.todo-list-container {
  display: flex;
  width: 14rem;
  height: 15rem;
  border-radius: 5px;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
}
.todo-list-container .text {
  padding-left: 5px;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  height: 1.5rem;
  text-align: start;
  letter-spacing: normal;
  border-bottom: 2px solid black;
  border-radius: none;
}
.todo-list-container .content {
  display: flex;
  align-items: baseline;
}
.todo-list-container i {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}/*# sourceMappingURL=styles.css.map */