input {
	@extend .name;
	width: 20rem;
	height: 3rem;
	color: $primary-font-color;
	background: none;
	border: none;
	border-bottom: 3px solid white;
	border-radius: 2px;
	text-align: center;
	outline: none;
}
input:focus {
	background: $background-transparent;
}
