.grid-container {
	display: grid;
	place-content: center;
	grid-row: repeat(3, 1fr);
	gap: 0.5rem;
	height: 91vh;
	section {
		border-radius: 1px;
		// background-color: $background-transparent;
		width: auto;
	}
}
