html {
	color: $primary-font-color;
	font-family: $primary-font;
}

section {
	text-align: center;
	font-size: $size-small;
	font-weight: $font-bold;

	&:nth-child(1) {
		font-family: $accent-font;
		text-transform: uppercase;
		font-size: $size-medium;
		font-weight: $font-accent-bold;
	}
}
