// Color
$primary-font-color: white;

// Font
$accent-font: 'Nunito', sans-serif;
$primary-font: 'Roboto', sans-serif;
$font-bold: 700;
$font-regular: 400;
$font-accent-regular: 300;
$font-accent-bold: 600;

// Sizes
$size-large: 7rem;
$size-medium: 5rem;
$size-small: 3rem;

//BackgroundColor
$background-transparent: rgba(134, 134, 134, 0.3);
$background-transparent-todolist: rgba(0, 0, 0, 0.5);
